.idea/
indexers/
rerankers/
vectorizers/
retrievers/AIO3_DPR/submission.sh
generators/fusion_in_decoder/scripts/abci_setting.sh

**/__pycache__/
**/outputs/
**/work/
**/tmp/
**/lib/
scripts/abci

.python-version
**/*debug.json

log_*

